<!DOCTYPE html>
<html lang="es">
  
  <link
    href="https://fonts.googleapis.com/css?family=Nunito"
    rel="stylesheet"
  />
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Surveys</title>
  </head>
  <body>
    <!--Titulo de la Pagina-->
    <div id="titulo">
      <h1>Surveys</h1>
    </div>
    <div id="subtitulo1">
      <h2>
        Creacion de Encuestas <br />
        Survey
      </h2>
    </div>
    <!--Barra de Navegacion-->
    <div id="barra">
      <nav>
        <ul>
          <a href="login.html">
            <li>Iniciar Sesion</li>
          </a>
          <a href="registro.html">
            <li>Registrate</li>
          </a>
        </ul>
      </nav>
    </div>
    <!--Imagenes-->
    <div id="imagenes">
      <img
        src="http://formoid.com/articles/data/upload/2017/04/responsive_images.jpg"
      />
      <img
        src="http://formoid.com/articles/data/upload/2017/04/responsive_images.jpg"
      />
    </div>
    <!--Calendario-->
    <div id="calendario">
      <img src="../assets/calendario.png"/>
    </div>
  </body>
</html>
