body {
    background-color: #e2f7b4;
    height: 748px;
  }
  
  #titulo h1 {
    text-align: center;
    font-size: 30px;
    background-color: #8bc24b;
    color: aliceblue;
    padding: 1%;
    margin-top: -10px;
    margin-left: -1%;
    margin-right: -1%;
    font-family: Nunito;
    width: 1521px;
  }
  #subtitulo {
    color: #1f681f;
    font-family: Nunito;
    font-size: 40px;
    margin-top: -60px;
    text-align: center;
    clear: both;
    margin-top: 4%;
  }
  #subtitulo1 {
    color: #1f681f;
    font-family: Nunito;
    font-size: 40px;
    margin-top: -60px;
    float: left;
    clear: both;
  }
  a {
    text-decoration: none;
    color: black;
  }
  
  #barra a {
    margin-left: 20%;
  }
  nav,
  li,
  ul,
  a {
    border: white 1px solid;
    background-color: white;
  }
  nav {
    border: gray 1px solid;
    border-radius: 20px;
  }
  li {
    list-style: none;
    display: inline;
  }
  #barra {
    padding: 4%;
    margin-left: 50%;
    margin-top: -60px;
    font-family: Nunito;
  }
  #imagenes {
    margin-left: 2%;
    clear: left;
    float: left;
    width: 800px;
  }
  #imagenes img {
    margin-top: 2%;
    width: 90%;
  }
  #calendario img {
    margin-top: 13%;
    margin-left: 10%;
    width: 25%;
    border-radius: 40px;
  }
  #iconoR {
   margin-left: 48%;
   margin-top: -1%;
   margin-bottom: 20px;
  }
  
  #formulario {
    margin-top: -3%;
    text-align: center;
    padding: 2%;
  }
  #formulario input {
    margin-top: 10px;
    width: 400px;
    padding: 10px 10px;
    text-align: center;
    background-color: transparent;
    color: black;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    font-size: 20px;
  }
  
  #link input {
    margin-top: 30px;
    background-color: #1d9b1d;
    color: white;
    padding: 15px 5px;
    width: 150px;
    font-size: 20px;
    font-family: Nunito;
    border: white 4px solid;
  }
  #link {
    text-align: center;
  }
  #login {
    text-align: center;
  }
  #login input {
    margin-top: 10px;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    padding: 20px 20px;
    width: 200px;
  }
  
  #log input {
    margin-top: 20px;
    background-color: #1d9b1d;
    color: white;
    padding: 15px 5px;
    width: 150px;
    font-size: 20px;
    font-family: Nunito;
    border: white 4px solid;
    border-radius: 15px;
  }
  #login h2 {
    font-size: 50px;
    font-family: Nunito;
    color: #1f681f;
  }
  