<!DOCTYPE html>
<html lang="es">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <head>
    <script src="https://kit.fontawesome.com/cf85ee7414.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesion</title>
  </head>
  <body onsubmit="">
    <!--Titulo de la Pagina-->
    <div id="titulo">
      <h1>Surveys</h1>
      <form id="login">
        <div>
            <h2>Iniciar Sesión</h2>
        </div>
        <div>
            <i class="fa fa-user-circle fa-4x"></i>
        </div>
        <div>
          <input
            type="email"
            id = "Correo"
            placeholder="Correo Electronico"
            required
          />
        </div>
        <div>
          <input type="password" id = "Contraseña" placeholder="Contraseña" required />
        </div>
        <!--Boton Iniciar Sesion-->
        <a href="Encuestas_Realizadas.html" id="log">
          <input type="button" id="log" value="Iniciar Sesion"/>
        </a>
      </form>
      </div>
  </body>
</html>
